


@media only screen and (max-width:1600px){
	
	
	.site-image img {
    margin-left: -10px;
    margin-top: 30px;
    width: 120%;
    height: 100%;
    z-index: 999999;
}
	
	header .header-content {
    margin-top:183px;
    margin-left:100px;
	 margin-right:-100px;
}
	.header-socails {
    margin-top: 250px;
    max-width: 57px;
    z-index: 999999;
}

.menu-section .logo {
    margin-left: 114px;
}

 
.header-content{
    margin-top: 153px;
}	

.about-content {
    margin-left: 100px;
    margin-right: -100px;
}
	
}
@media only screen and (max-width:1536px){
.service-section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -154px;
    margin-left: 185px;
}

.col-lg-12.service-content {
    margin-left: -169px;
}
}
@media only screen and (max-width:1466px){
	
	.service-section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -55px;
    margin-left: -15px;
}


}


@media only screen and (max-width:1454px){
	
	.service-section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -58px;
    margin-left: -72px;
}

.service-box {
    border-radius: 5px;
    max-width: 420px;
    min-height: 554px;
    background-color: white;
    padding: 10px 40px 40px 10px;
    box-shadow: 0 20px 20px rgb(118,130,183,0.10);
    margin-bottom: 100px;
}
}


@media only screen and (max-width:1454px){

.service-section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -208px;
    margin-left: 177px;
}

.col-lg-12.service-content {
    margin-left: -175px;
}
}

@media only screen and (max-width:1454px){
.col-lg-12.service-content {
    margin-left: -120px;
}

.row.service-title {
    margin-left: 38px;
}

.slide-section .slider-box {
    position: Absolate;
    text-align: center;
    max-width: 802px;
    height: 360px;
    background-color: white;
    left: 22%;
    box-shadow: 0 15px 20px rgba(118,130,183,0.18);
}

.service-section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -208px;
    margin-left: 177px;
}
}


@media only screen and (max-width:1443px){
	
	.service-section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -50px;
    margin-left: -60px;
}

.slide-section .slider-box {
    position: Absolate;
    text-align: center;
    max-width: 802px;
    height: 300px;
    background-color: white;
    left: 21%;
    box-shadow: 0 15px 20px rgba(118,130,183,0.18);
}

}
@media only screen and (max-width:1343px){
	header .menu-section .Hire {
    background: #EE6D52;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 20px;
    text-decoration: none;
    width: 145px;
    height: 58px;
    text-align: center;
    border-radius: 5px;
    padding-top: 12px;
    margin-top: 19px;
}

.service-section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -306px;
    margin-left: 39px;
}
header .menu li a {
    text-transform: capitalize;
    text-decoration: none;
    color: #151D41;
    padding-left: 40px;
    font-family: Montserrat;
    font-size: 16px;
}
	.menu-section .menu {
    display: flex;
    margin-left: 26px;
    margin-top: 30px;
}

header .header-content {
    margin-top: 91px;
    
}
header .hedder-1button{
background: #EE6D52;
    color: #FFFFFF;
    width: 231px;
    height: 67px;
    text-align: center;
    border-radius: 5px;
    padding: 23px 83px 14px 83px;
margin-left: 16px;}

header .hedder-2button {
    background: #ffffff;
    color: #FFFFFF;
    width: 231px;
    height: 67px;
    text-align: center;
    border-radius: 5px;
    padding: 23px 83px 14px 83px;
    margin-left: 16px;
}



.service-box {
   
    max-width: 511px;
    min-height: 592px;
    
}

.counter-section h5{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-42%,-90%);
    font-size: 43px;
    color: black;
    font-family: lora;
    font-weight: bold;
}

    
}

.counter-section h4{
    font-family: Montserrat;
    color: black;
    position: absolute;
    top: 50%;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%,120%);
    margin-bottom: 5px;
    font-weight: 400;
}

.slide-section .slider-box {
   
    max-width: 802px;
    height: 350px;
    background-color: white;
    left: 20%;
    box-shadow: 0 15px 20px rgba(118,130,183,0.18);
}


}

@media only screen and (max-width:1239px){
    .header-content .title-content h1 {
    font-weight: bold;
    font-size: 48px;
    font-family: lora;
    color: #151D41;
}
	.menu-section .menu {
    display: flex;
    margin-left: -43px;
    margin-top: 30px;
}

.menu-section ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: #151D41;
    padding-left: 10px;
    font-family: Montserrat;
    font-size: 16px;
}

.service-section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -300px;
    margin-left: 85px;
}


}




.about-section .downlode {
    background: #EE6D52;
    color: #FFFFFF;
    width: 167px;
    height: 65px;
    text-align: center;
    border-radius: 5px;
    padding: 25px 52px 30px 83px;
}

.about-section .downlode a{
    
   
    font-size: 20px;
}




}


@media only screen and (max-width:1175px){
header .menu-section .Hire {
   
    font-size: 18px;
    width: 149px;
    height: 54px;
    padding-top: 13px;
    margin-top: 19px;
}
.menu-section .menu .font{
  
    font-size: 15px;
}

.about-section .about-content {
    margin-left: 98px;
    margin-right: -227px;
}
header .menu li a {
    text-transform: capitalize;
    text-decoration: none;
    color: #151D41;
    padding-left: 39px;
    font-family: Montserrat;
    font-size: 16px;
}

.about-section .downlode {
    background: #EE6D52;
    color: #FFFFFF;
    width: 167px;
    height: 65px;
    text-align: center;
    border-radius: 5px;
    padding: 25px 52px 30px 83px;
}

.about-section .downlode a{
    
   
    font-size: 20px;
}

.service-section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -356px;
    margin-left: 52px;
}

.counter-section h5{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-42%,-90%);
    font-size: 40px;
    color: black;
    font-family: lora;
    font-weight: bold;
}

    
}

.counter-section h4{
    font-family: Montserrat;
    color: black;
    position: absolute;
    top: 50%;
    font-size: 18px;
    left: 50%;
    transform: translate(-50%,120%);
    margin-bottom: 5px;
    font-weight: 400;
}

}

@media only screen and (max-width:1069px){
	
	header .menu li a {
    text-transform: capitalize;
    text-decoration: none;
    color: #151D41;
    padding-left: 31px;
    font-family: Montserrat;
    font-size: 15px;
}

header .menu{
margin-left:-50px;	
	
}

.menu-section .menu {
    display: flex;
    margin-left: -26px;
    margin-top: 30px;
}

header .title-content h1 {
    font-weight: bold;
    font-size: 48px;
    font-family: lora;
    color: #151D41;
}

header {
    position: relative;
    background-image: url(../img/Group 1851.png);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
}
header .header-content {
    margin-top: 91px;
    padding-bottom: 256px;
}

.slide-section .slider-box {
    max-width: 717px;
    height: 376px;
    background-color: white;
    left: 15%;
    box-shadow: 0 15px 20px rgba(118,130,183,0.18);
}
.slide-section .img {
    vertical-align: middle;
    border-style: none;
    width: 21px;
    margin-top: -19px;
}
	.slide-section .carousel-control-next-icon {
    
    margin-left: 80px;
}
.slide-section .carousel-control-prev-icon {
    
    margin-left: -80px;
}
.slide-section .carousel-control-next-icon, .slide-section .carousel-control-prev-icon {
    width: 53px;
    height: 50px;
    padding: 21px;
   
}
}


@media only screen and (max-width:991px){
	
	
	.menu-section .menu,
	.menu-section .Hire,
	.site-image{
		display:none;
	}
	
	.menu-section .logo {
    margin-left: 75px;
    margin-top: 33px;
}

	header .header-content {
    margin-bottom: 200px;
    margin-top: 140px;
    margin-left: 54px;
}

.about-content {
    margin-left: 70px;
    margin-right: 16px;
}
	.col-lg-6.col-md-12.col-sm-12.col-xm-12.about-image {
    margin-top: 50px;
    margin-left: -100px;
	padding-bottom:50px;
}




 header .mobile-menu span {
    display:block;
   
}


 
 
 header.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -36px;
    margin-left: 64px;
}

.service-section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -306px;
    margin-left: -62px;
}
.service-box {
    border-radius: 5px;
    max-width: 383px;
    min-height: auto;
    background-color: white;
    padding: 40px 60px 40px 40px;
    box-shadow: 0 20px 20px rgb(118,130,183,0.10);
    margin-bottom: 100px;
}

.counter-section h5 {
    
    transform: translate(-80%,-90%);
    font-size: 50px;
    
}
.counter-section h4 {
   
    top: 50%;
    font-size: 20px;
    left: 50%;
    transform: translate(-78%,120%);
    margin-bottom: 5px;
    font-weight: 400;
}

.counter-box{
	margin-bottom:41px;
}

.slide-section .slider-box {
    max-width: 615px;
    min-height: 161px;
    height: 416px;
    or: white;
    left: 17%;
    box-shadow: 0 15px 20px rgba(118,130,183,0.18);
}
.slide-section .img {
    vertical-align: middle;
    border-style: none;
    width: 21px;
    margin-top: -19px;
}
.slide-section .carousel-control-next-icon {
    
    margin-left: 80px;
}
.slide-section .carousel-control-prev-icon {
    
    margin-left: -80px;
}
.slide-section .carousel-control-next-icon, 
.slide-section .carousel-control-prev-icon {
    width: 70px;
    height: 60px;
    padding: 21px;
   
}
}



@media only screen and (max-width:768px){
	.service-section .service-box {
    border-radius: 5px;
    max-width: 552px;
    height: 517px;
    background-color: white;
    padding: 40px 60px 40px 40px;
    box-shadow: 0 20px 20px rgb(118,130,183,0.10);
    margin-bottom: 100px;
}
.service-section {
	margin-left:100px;
	margin-right:-100px;
}	
.row.service-title {
    margin-left: -150px;
}
.counter-section h5 {
    
    transform: translate(-50%,-90%);
    font-size: 50px;
    
}
.counter-section h4 {
   
    top: 50%;
    font-size: 20px;
    left: 50%;
    transform: translate(-58%,120%);
    margin-bottom: 5px;
    font-weight: 400;
}

.slide-section img {
    vertical-align: middle;
    border-style: none;
    width: 50px;
    height: 50p;
}
.slide-section .slider-box p {
   
    padding: 10px 10px 10px 10px;
    font-size: 13px;
   
}

.slide-section .slider-box h2 {
    
    font-size: 20px; 
}
.slide-section .slider-box span {
    color: #151D41;
    font-size: 11px;
    font-family: Montserrat;
    padding: 10px 50px 10px 50px;
    line-height: 35px;
    font-weight: 400;
}
.slide-section .slider-box {
    max-width: 461px;
   
    height: 328px;
    or: white;
    left: 18%;
    box-shadow: 0 15px 20px rgba(118,130,183,0.18);
}
.row.service-title {
    margin-left: -22px;
}
.col-lg-12.service-content {
    margin-left: -228px;
}
.slide-section .img {
    vertical-align: middle;
    border-style: none;
    width: 21px;
    margin-top: -19px;
}
.slide-section .carousel-control-next-icon {
    
    margin-left: 80px;
}
.slide-section .carousel-control-prev-icon {
    
    margin-left: -80px;
}
.slide-section .carousel-control-next-icon, .slide-section .carousel-control-prev-icon {
    width: 53px;
    height: 50px;
    padding: 21px;
   
}
}

@media only screen and (max-width:600px){
	.service-section .service-box {
    border-radius: 5px;
    max-width: 398px;
    height: 596px;
    background-color: white;
    padding: 40px 60px 40px 40px;
    box-shadow: 0 20px 20px rgb(118,130,183,0.10);
    margin-bottom: 100px;
}
.service-section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 37px;
    margin-left: -87px;
}

.counter-section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 85px;
    margin-left: 60px;
}
.service-section {
	margin-left:100px;
	margin-right:-100px;
}	
.row.service-title {
    margin-left: -150px;
}
.counter-section h5 {
    
    transform: translate(-50%,-90%);
    font-size: 50px;
    
}
.counter-section h4 {
   
    top: 50%;
    font-size: 20px;
    left: 50%;
    transform: translate(-58%,120%);
    margin-bottom: 5px;
    font-weight: 400;
}

.slide-section img {
    vertical-align: middle;
    border-style: none;
    width: 40px;
   
}
.slide-section .slider-box p {
   
    padding: 10px 10px 10px 10px;
    font-size: 12px;
   
}

.slide-section .slider-box h2 {
    
    font-size: 18px; 
}
.slide-section .slider-box span {
    color: #151D41;
    font-size: 10px;
    font-family: Montserrat;
    padding: 10px 50px 10px 50px;
    line-height: 35px;
    font-weight: 400;
}
.slide-section .slider-box {
    max-width: 340px;
    height: 351px;
    or: white;
    left: 18%;
    box-shadow: 0 15px 20px rgba(118,130,183,0.18);
}
.row.service-title {
    margin-left: -22px;
}
.col-lg-12.service-content {
    margin-left: -228px;
}
.slide-section .img {
    vertical-align: middle;
    border-style: none;
    width: 21px;
    margin-top: -19px;
}
.slide-section .carousel-control-next-icon {
    
    margin-left: 80px;
}
.slide-section .carousel-control-prev-icon {
    
    margin-left: -80px;
}
.slide-section .carousel-control-next-icon, .slide-section .carousel-control-prev-icon {
    width: 53px;
    height: 50px;
    padding: 21px;
   
}
}

@media only screen and (max-width:500px){
	
	header .header-content {
    margin-bottom: 200px;
    margin-top: 140px;
    margin-left: 57px;
    text-align: center;
}
	
	header .title-content h1 {
   
    font-size: 45px;
    
  
    margin-left: -110px;
}

.title-content h2 {
  
    font-size: 18px;
  
   
    
    text-align: center;
    padding-top: 12px;
    margin-left: 50px;
}

.title-content span {
   
    font-size: 18px;
    
    margin-left: -107px;
}
header .hedder-1button,
header .hedder-2button {
    

    margin-left: 32px;
    margin-bottom: 20px;
}


.menu-section .logo {
    margin-left: 14px;
    margin-top: 33px;
}



.about-section .about-content {
    margin-left: -14px;
    margin-right: -136px;
}
.about-section  .about-image img {
    margin-left: 88px;
    margin-top: 30px;
    z-index: 0;
    width: 420px;
}
.about-section  .play img {
  position: absolute;
    margin-top: -229px;
    margin-left: 240px;
    z-index: 1;
    width: 73px;
}
.service-section .service-content {
    margin-left: -46px;
}
.service-section  .service-title h2 {
    padding-top: 38px;
    padding-bottom: 65px;
    font-family: lora;
    font-size: 37px;
    font-weight: bold;
}
.service-section .service-box {
    
    max-width: 350px;
    height: 596px;
  margin-left:50px;
    margin-bottom: 100px;
}
.service-section {
    margin-left: 70px;
    margin-right: -100px;
}
.counter-section h4 {
   
    transform: translate(-50%,80%);
    
}
.slide-section .slider-box p {
   
    line-height: 21px;
    font-weight: 400;
}
.slide-section .slider-box h2 {
    color: #151D41;
    font-size: 18px;
    font-family: lora;
    padding:0px 10px 0px 10px;
    line-height: 32px;
    font-weight: Bold;
}
.slide-section .slider-box {
    max-width: 290px;
    height: 271px;
    or: white;
    left: 18%;
    box-shadow: 0 15px 20px rgba(118,130,183,0.18);
}
.slide-section .img {
    vertical-align: middle;
    border-style: none;
    width: 21px;
    margin-top: -19px;
}
.slide-section .carousel-control-next-icon {
    
    margin-left: 80px;
}
.slide-section .carousel-control-prev-icon {
    
    margin-left: -80px;
}
.slide-section .carousel-control-next-icon, .slide-section .carousel-control-prev-icon {
    width: 53px;
    height: 50px;
    padding: 21px;
   
}

@media only screen and (max-width:360px){

    .menu-section .logo img {
    margin-left: -26px;
    margin-top: -8px;
    width: 140px;
}
 header .mobile-menu span{
   		color:#EE6D52;
    font-size: 27px;
    display: none;
    margin-top: 2rem;
    margin-top: 1rem;
	display:block;
}
header .header-content {
    margin-bottom: 99px;
    margin-top: 547px;
    margin-left: 57px;
    text-align: center;
}
header .title-content h2 {
   
    font-size: 20px;
    font-family: Montserrat;
   
    width: 187px;
    height: 52px;
   
    padding-top: 12px;
    margin-left: -28px;
}
header .title-content p {
  
    font-size: 15px;
    
    padding-right: 12px;
    line-height: 28px;
    margin-left: -109px;
    
}
.header-socails{
	display:none;
}
header .header-content {
    margin-bottom: 200px;
    margin-top: 598px;
    margin-left: 57px;
    text-align: center;
}
header .hedder-1button, header .hedder-2button {
    margin-left: -36px;
    margin-bottom: 30px;
}
.about-section .about-image img {
    margin-left: 88px;
    margin-top: 30px;
    z-index: 0;
    width: 320px;
}
.about-section  .play img {
  position: absolute;
    margin-top: -197px;
    margin-left: 190px;
    z-index: 1;
    width: 79px;
}
.service-section {
    margin-left: 40px;
    margin-right: -40px;
}
.col-lg-12.service-content {
    margin-left: -20px;
}
.service-section .service-box {
    max-width: 350px;
    height: 520px;
   
}
.service-section .icon-box p {
   
    font-family: Montserrat;
    font-size: 15px;
    font-weight: Regular;
    line-height: 30px;
}
.service-section .icon-box h2 {
    padding-top: 29px;
    padding-bottom: 14px;
    
    font-size: 26px;
    
    line-height: 6px;
}
.counter-section svg.radial-progress {
  height: auto;
  max-width: 320px;
  padding: 1.2em;
  transform: rotate(-90deg);
  width: 150%;
}
.counter-section {
    padding-bottom: 100px;
    padding-top: 100px;
    min-height: 100%;
    margin-left: -50px;
}
.counter-section h5 {
    transform: translate(5%,-90%);
    font-size: 39px;
}
.counter-section h4 {
    transform: translate(1%,37%);
    font-size: 18px;
}
.slide-section .slider-box {
    max-width: 357px;
    height: 249px;
    or: white;
    left: 3%;
    box-shadow: 0 15px 20px rgba(118,130,183,0.18);
}
.slide-section .img {
    vertical-align: middle;
    border-style: none;
    width: 21px;
    margin-top: -19px;
}
.slide-section .carousel-control-next-icon {
    
    margin-left: 80px;
}
.slide-section .carousel-control-prev-icon {
    
    margin-left: -80px;
}
.slide-section .carousel-control-next-icon, .slide-section .carousel-control-prev-icon {
    width: 53px;
    height: 50px;
    padding: 21px;
   
}
}