@import url('https://fonts.googleapis.com/css2?family=lato:ital,wght@1,300&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body,html{

    overflow:auto;
	width:100%;
	font-family:'lora', sans-serif;
}

html{
	
	scroll-behavior:smooth;
}


.container{

	max-width:1530px;
	margin:0 auto;
	overflow:hidden;
	padding:0 40px;
	
}
/* header start*/
.scrollup  i{
		padding:10px 10px 15px 10px;
		transform:rotate(360deg);
		
	}
	.scrollup:hover{
				color:white;
		text-decoration:none;
	}
	.scrollup{
		display:-webkit-flex;
		display:-moz-flex;
		display:-ms-flex;
		display:-o-flex;
		display:flex;
		justify-content:center;
		align-items:center;
		font-size:35px;
		color:white;
		text-decoration:none;
		transition:.5s;
		background:#EE6D52;
		position:fixed;
		bottom:16px;
		right:50px;
		width:60px;
		border-radius:50%;
		opacity:0;
		z-index:1;
		text-decoration:none;
	}
	
	.scrollup.active{
		
		bottom:32px;
		pointer-events:auto;
		opacity:1;
		transform:translateY(-55px);
	}
#loading{
	
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100vh;
	background:#fff
	url('../img/loading.gif') no-repeat center;
	z-index:999999;
}


.mobile-menu span{
	  
	color:#EE6D52;
	font-size:35px;
	display:none;
	margin-top:2rem;
	margin-right:20px;
	float:right;
}

.mobile-menu span:hover{
	
	cursor:pointer;
}

.overlay{
	width:0%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:black;
	z-index:1;
	overflow:hidden;
	transition:.5s;
}

.overlay-content{
	
	position:relative;
	top:10%;
	width:100%;
	text-align:center;
	margin-top:3rem;
	
}
.overlay a{
	
	text-decoration:none;
	display:block;
	font-size:25px;
	text-transform:uppercase;
	letter-spacing:3px;
	color:#999;
	padding:1rem 0;
}
.overlay a:hover{
	color:white;
	
}

.closebtn{
	position:absolute;
	top:2rem;
	right:70px;
	font-size:30px;
}













header{
	
	
	    position:relative;
	    background-image:url('../img/Group 1851.png');
		background-size:cover;
		width:100%;
		background-repeat:no-repeat;
		background-position:center center;
	     min-height:100vh;
		
}
nav{
    display:flex;
    justify-content:space-between;
	align-items:center;
	height:100%;
	margin-top:20px;
}
.logo {
    margin-left: 14px;
}
.menu{
	display:flex;
	margin-left:130px;
	margin-top:30px;
	
	
}
.menu li{

	list-style-type:none;
	
	
}
.menu .active{
	
	color:#EE6D52;
}
.menu li a{
	text-transform:capitalize;
	text-decoration:none;
	color:#151D41;
	padding-left:60px;
	font-family:Montserrat;
	font-size:18px;
	transition:.4s;
}
.menu li a:hover{
color:#EE6D52;
}
.menu-section .Hire{
	background:#EE6D52;
	color:#FFFFFF;
	font-family:Montserrat;
	font-size:25px;
	text-decoration:none;
	width:182px;
	height:72px;
	text-align:center;
	border-radius:5px;
	padding-top:17px;
	margin-top:19px;
}

.header-content{
	width:100%;
	
}

.title-content h2{
	font-weight:400;
	font-size:20px;
	font-family:Montserrat;
	color:#EE6D52;
	background:rgba(238,109,82,0.10);
	width:187px;
	height:52px;
	text-align:center;
	padding-top:12px;
	
}
.title-content h1{
	font-weight:bold;
	font-size:60px;
	font-family:lora;
	color:#151D41;

	
	
}
.title-content span{
	font-weight:Regular;
	font-size:20px;
	font-family:Montserrat;
	color:#151D41;
	
	
}
.title-content p{
	font-weight:Regular;
	font-size:16px;
	font-family:Montserrat;
	color:#151D41;
padding-right:120px;
	line-height:35px;
	margin-top:33px;
	padding-bottom:50px;
}

.hedder-1button{
	background:#EE6D52;
	color:#FFFFFF;
	width:231px;
	height:80px;
	text-align:center;
	border-radius:5px;
	padding:30px 112px 30px 112px;
	    margin-left: 16px;
}
.hedder-1button a{
	font-family:Montserrat;
	font-size:25px;
	text-decoration:none;
		margin-left:-55px;
		margin-top:-8px;
	position:absolute;
	color:white;
  
}
.hedder-2button{
	background:white;


	
	text-decoration:none;
	width:231px;
	height:80px;
	text-align:center;
	border-radius:5px;
	padding:30px 112px 30px 112px;
	    margin-left: 20px;
}
.hedder-2button a{
	font-family:Montserrat;
	font-size:25px;
	text-decoration:none;
		margin-left:-50px;
		margin-top:-8px;
	color:black;

position:absolute;
}
.header-content{
	margin-top:220px;

}

.button-background{
	position:absolute;
	margin-top:400px;
}
.about-image img {
    margin-left: 160px;
    margin-top: -38px;
    z-index: 0;
}



 
 /* header end*/
 
 /* about start*/
 .about-section{
	  position:relative;
	    background-image:url('../img/Group 1852.png');
		background-size:cover;
		width:100%;
		background-repeat:no-repeat;
		background-position:center center;
	     min-height:100vh;
	
 }
 .downlode{
	background:#EE6D52;
	color:#FFFFFF;
	width:231px;
	height:80px;
	text-align:center;
	border-radius:5px;
	padding:30px 112px 30px 112px; 
	
 }
 .downlode .Download-CV{
	font-family:Montserrat;
	font-size:25px;
	text-decoration:none;
		margin-left:-85px;
		margin-top:-8px;
	color:white;

   position:absolute;
	
 }
  .abuot-btn{
	  
	  padding-bottom:38px;
  }
 
 .abuot-btn a{
	font-weight:400;
	font-size:20px;
	font-family:Montserrat;
	color:#000;
	background:rgba(43,35,38,0.100);
	width:187px;
	height:52px;
	text-align:center;
	padding:15px 40px 15px 40px;
    text-decoration:none;	
	margin-top:20px;
	border-radius:3px;
 }
 
 .about-container{
	 padding-top:200px;
	 
 }
 
 
 
 .about-content h2{
	 line-height:50px;
	 font-family:lora;
	 font-size:40px;
	 font-weight:bold;
 padding-bottom:25px;
 	padding-right:220px;
 }
 
 .about-content p{
	 font-family:Montserrat;
	 font-size:18px;
	 font-weight:Regular;
	 line-height:35px;
	padding-right:110px;
 }
 
 .about-content .p2{
	 font-family:Montserrat;
	 font-size:18px;
	 font-weight:Regular;
	 line-height:35px;
	  padding-bottom:40px;
 }
 .about-content{
	 
	
 }
 .about-image img{
	margin-left:160px; 
	 margin-top:30px;
	 z-index:0;
 }
 
 .play img{
	 position:absolute;
	 margin-top:-320px;
	margin-left:350px;
	 z-index:1;
	 
 }
 
 /* about end*/
 /* service start*/
 .service-section{
	 margin-top:120px;
 }
 
 .service-box{
	 margin-left:50px;
	 margin-bottom:40px;
	 
 }
  .service-btn a{
	font-weight:400;
	font-size:20px;
	font-family:Montserrat;
	color:#000;
	background:rgba(43,35,38,0.100);
	max-width:157px;
	min-height:52px;
	text-align:center;
	padding:20px 30px 15px 30px;
    text-decoration:none;
    line-height: 60px;	
	margin-top:40px;
	border-radius:3px;
 }
 .service-title{
	 
	 text-align:center;
 }
 .service-title h2{
	 padding-top:38px;
	 padding-bottom:65px;
	font-family:lora;
	font-size:40px;
	font-weight:bold;
 }
 
 .icon-box h2{
	 padding-top:29px;
	 padding-bottom:20px;
	 font-family:lora;
	font-size:33px;
	font-weight:bold;
	line-height:42px;
	 
 }
 
 .icon-box p{
	  padding-top:10px;
	 padding-bottom:33px;
	 font-family:Montserrat;
	font-size:16px;
	font-weight:Regular;
	line-height:33px;
	
 }
 
 .icon-box .Know-More{
	 font-family:Playfair Display;
	font-size:16px;
	font-weight:Regular;
	line-height:35px;
	background-color:#EE6D52;
	padding:8px 15px 8px 20px;
	
	 
 }
 
 .Know-More{
	 color:white;
	 text-decoration:none;
 }
 .Know-More:hover{
	 color:white;
	 text-decoration:none;
 }
 
 .service-box{
	 border-radius:5px;
	 max-width:442px;
	 height:517px;
	 background-color:white;
	 padding:40px 60px 40px 40px;
	 box-shadow:0 20px 20px rgb(118,130,183,0.10);
	 margin-bottom:100px;
 }
 
.service-box:hover {
	 box-shadow:0 20px 20px rgb(118,130,183,0.30);
	 background-color:#2B2344;
	
 }
  .service-box:hover Path,
 .service-box:hover #Path_69,
  .service-box:hover #Path_70,
  .service-box:hover #Path_71,
    .service-box:hover #Path_71
 {
	 stroke:white;
	 fill:white;
	
 }
 
  .service-box:hover  Path,
  .service-box:hover .icon-border,
  .service-box:hover .shap
  {
	  

	stroke:white;
  }
 .service-box:hover p,
.service-box:hover h2{
	color:white;
	
	
	
 }
 .service-box:hover .Know-More{
	
	background-color:#ffffff;
	color:black;
	
	 
 }
 
  .service-box:hover .border
  {
	  
	stroke:white;  
  }
  /* service end*/
   /* counter start*/
 .counter-box{
	 height:auto;
	
 }
 .counter-section{
	 padding-bottom:100px;
	 padding-top:100px;
	 min-height:100%;
 }
 .radial-progress{
	background-color:white;
	 	 box-shadow:0px 15px 20px rgba(21,29,65,0.1);
		 border-radius:50%;
	 width:600px;
	height:500px;
	 padding:500px;
 }
 
		svg.percentage{
			font-size:10px;
		}
		h5{
			
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-49%,-90%);
			font-size:69px;
			color:black;
			font-family:lora;
			font-weight:bold;
		
		}
	 h4{
		 font-family:Montserrat;
			color:black;
			position:absolute;
			top:50%;
			font-size:22px;
			left:50%;
			transform:translate(-55%,120%);
			margin-bottom:5px;
			font-weight:400;
		}
		
		svg.radial-progress circle{
			stroke-width:2;
		}
		svg.radial-progress text{
			
			fill:#3C4761;
			font-size:1.5rem;
		}
		
		svg.WEB-DESIGN circle{
			stroke:#EE6D52;
		}
		svg.HTML-CSS circle{
			stroke:#D74680;
		}
		svg.GRAPHIC-DESIGN circle{
			stroke:#15C7A8;
		}
		svg.UI-UX circle{
			stroke:#EB7D4B;
		}
		
		 /* counter end*/
		 /* slid start*/
		.slide-section{
		
		padding-bottom:80px;
		padding-top:100px;
	}	
		
		.carousel-indicators{
	
	position:absolute;
	right:0;
	bottom:-60px;
}

.carousel-indicators li{
margin-top:-100px;
	background-color:#16c9f6;
}
.slider-box{
	position:Absolate;
	;
	text-align:center;
	max-width:1050px;
    height:300px;
    background-color:white;
    left:15%;
	box-shadow:0 15px 20px rgba(118,130,183,0.18);
 
}

.slider-box p {
    padding-top: 20px;
    color: #151D41;
    font-size: 16px;
    font-family: Montserrat;
    padding: 10px 140px 10px 140px;
    line-height: 32px;
    font-weight: 400;
}

.slider-box h2{
	
	color:#151D41;
	font-size:30px;
	font-family:lora;
	    padding: 10px 50px 10px 50px;
		line-height:32px;
		font-weight:Bold;
}

.slider-box span{
	
	color:#151D41;
	font-size:16px;
	font-family:Montserrat;
	    padding: 10px 50px 10px 50px;
		line-height:35px;
		font-weight:400;
}
	.slide{
		

	}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e);
    background: white;
    width: 85px;
    height: 77px;
    padding: 21px;
    border-radius: 50%;
	 box-shadow:0 15px 20px rgba(118,130,183,0.18);
}
 /* slide end*/
  /* footer start*/
 
		.footer-section{
			background-color:#2B2344;
			text-align:center;
			min-height:409px;
			margin-top:100px;
		}
		
		.footer-content {
			
		}
		.footer-content h2{
			padding-bottom:30px;
			padding-top:100px;
			color:white;
			font-size:50px;
			text-transform:capitalize;
		}
		
		.footer-content p{
			padding-bottom:30px;
			
			color:white;
			font-size:20px;
			text-transform:lowercase;
		}
		.social{
			margin-left:-30px;
			
		}
		.social a{
			
			color:white;
			font-size:22px;
			background-color:#EE6D52;
			padding:12px 20px 12px 20px;
			border-radius:50px;
			margin-left:30px;
		}
		.copy{
		margin-top:100px;
			border-top:1px solid white;
	text-align:center;
		}
		.copy p{
			padding-bottom:20px;
			padding-top:20px;
			color:white;
			font-size:20px;
			text-transform:lowercase;
		}
		 /*footer end*/
	